.main-layout{
    padding-left: 25%;
    padding-right: 25%;
    display:flex;
}
.main-sidebar{
    left: 0;
    position: fixed;
    min-width: 15rem;
}
.main-container{
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem; 
}

.sb-icon{
    width: 16px;
    height: 16px;
}

div{
    display:block;
}

.full-width{
    width:100%;
}