<sidebar></sidebar>
<div class="container">
    <div class = "row">

    <div class = "col-7">
        <sudoku-board></sudoku-board>
    </div>
    <div class = "col-4">
        <div class="card mt-3">
            <div class="row text-center">
                <h3> Game Settings </h3> 
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="difficultyButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Difficulty
                        </button>
                        <div class="dropdown-menu" aria-labelledby="difficultyButton">
                            <a class="dropdown-item" href="#">Easy</a>
                            <a class="dropdown-item" href="#">Medium</a>
                            <a class="dropdown-item" href="#">Hard</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="gamemodeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sudoku-Mode
                        </button>
                        <div class="dropdown-menu" aria-labelledby="gamemodeButton">
                            <a class="dropdown-item" href="#">Normal</a>
                            <a class="dropdown-item" href="#">TBD</a>
                            <a class="dropdown-item" href="#">TBD</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <button type="button" class="btn btn-secondary full-width">Play</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    test
                </div>
            </div>

        </div>
    </div>
    </div>
</div>