* {
  font-family: Lato;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
  height: 100px;
  width: 100px;
  background: rgb(255, 255, 255);
  color: rgb(131, 131, 131);
  border: 2px dashed rgb(218, 218, 218);
  border-radius: 5px;
  font-size: 10px;
}
