<section class="vh-100" style="background: #c8d8e4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c8d8e4, #c8d8e4, #c8d8e4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c8d8e4, #ffffff, #c8d8e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ #c8d8e4 */">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                <h3 class="mb-4">Create new account</h3>

                <div class="form-group mb-2">
                  <input type="username" id="name-input" class="form-control form-control-lg" placeholder="Username *" formControlName="username"/>
                  <div class="text-danger" *ngIf="invalidForm">
                    Username is a required field!
                  </div>
                  <div class="text-danger" *ngIf="couldNotCreate">
                    Username already taken!
                  </div>
                </div>

                <div class="form-group mb-2">
                  <input type="password" id="password-input" class="form-control form-control-lg" placeholder="Password *" formControlName="password" />
                  <div class="text-danger" *ngIf="invalidForm">
                    Password is a required field!
                  </div>
                </div>

                <div class="form-group mb-2">
                    <input type="password" id="rep-password-input" class="form-control form-control-lg" placeholder="Re-enter password *" formControlName="reppassword" />
                    <div class="text-danger" *ngIf="invalidForm">
                        Re-enter password is a required field!
                    </div>
                </div>

                <div class="form-group mb-2">
                    <input type="email" id="email-input" class="form-control form-control-lg" placeholder="E-Mail *" formControlName="email" />
                    <div class="text-danger" *ngIf="invalidForm">
                        E-Mail is a required field!
                    </div>
                    <div class="text-danger" *ngIf="couldNotCreate">
                      E-Mail already taken!
                    </div>
                </div>

                <div class="form-group mb-2">
                    <input type="name" id="firstname-input" class="form-control form-control-lg" placeholder="Firstname" formControlName="firstname" />
                </div>

                <div class="form-group mb-3">
                    <input type="name" id="lastname-input" class="form-control form-control-lg" placeholder="Lastname" formControlName="lastname" />
                </div>

                <div class="mb-2" style="color: grey">
                    Fields marked  with '*' are mandatory
                </div>

                <div class="btn-group full-width">
                  <button class="btn btn-primary btn-lg btn-block" style="background:#52ab98; border:none" type="submit">Create Account</button>
                </div>
                <div class ="mt-2">
                  <a href="/login" style="color: grey">Back to login page</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
