<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h3 class="mb-4">Sign in</h3>
    
                <div class="form-group mb-2">
                  <input type="username" id="name-input" class="form-control form-control-lg" placeholder="Username" formControlName="name"/>
                  <div class="text-danger" *ngIf="invalidForm">
                    Username is a required field!
                  </div>
                </div>
    
                <div class="form-group mb-3">
                  <input type="password" id="password-input" class="form-control form-control-lg" placeholder="Password" formControlName="password" />
                  <div class="text-danger" *ngIf="invalidForm">
                    Password is a required field!
                  </div>
                </div>
    
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rem-pwd" formControlName="remember"/>
                  <label class="form-check-label" style="padding-left:0.5rem" for="rem-pwd"> Remember password </label>
                </div>
                <div class="btn-group full-width">
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </div>
                <div class="text-danger" *ngIf="invalidCreds">
                  Username and password do not match!
                </div>
              </form>
              <hr class="my-4">
              <button [routerLink]="'/register'" class="btn btn-lg btn-block btn-secondary mb-2 full-width" type="submit">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>