<div class="container play-page">
  <div class="row">
    <div class="col-2">
      <sidebar></sidebar>
    </div>
    <div class="col-7">
      <div class="p-3"><p class="username">Standard-Sudoku</p></div>
      <sudoku-board></sudoku-board>
    </div>

    <div class="col-3 px-5">
      <div class="row">
        <profile></profile>
      </div>

      <div class="row">
        <div class="card mt-5">
          <div class="d-flex flex-column">
            <hr />
            <h4>Timer: {{ display }}</h4>
            <hr />
          </div>
          <button
            (click)="toggleTimer()"
            [class.active]="!timerOn"
            type="button"
            class="btn btn-outline-info"
          >
            Pause
          </button>
          <br />
          <button (click) = "saveGame()" type="button" class="btn btn-primary">Save</button>
          <br />
          <button type="button" class="btn btn-success">Finish</button>
        </div>
      </div>
    </div>
  </div>
</div>
