.wrapper
{
  min-height:100%;
  width:100%;
  position:relative;
  display:inline-block;
}
.sidebar
{
  width:15%;
  top:0px;
  left:0px;
  bottom:0px;
  position:absolute;
  background-color:lightcyan;
}
.content
{
  min-height:300px;
  width:80%;
  position:relative;
  background-color:#CCC;
  float:right;

}
