<td>{{ name }}</td>
<td>{{ diff }}</td>
<td>{{ mode }}</td>
<td>{{ time }}</td>
<div *ngIf="finished; then historyBlock; else openBlock"></div>
<ng-template #openBlock>
  <td>
    <button type="button" (click)="resumeSudoku()" class="btn btn-success">
      Resume
    </button>
    <button type="button" class="btn btn-danger">Delete</button>
  </td>
</ng-template>
<ng-template #historyBlock>
  <td>
    <button type="button" class="btn btn-primary">View</button>
  </td>
</ng-template>
<td>
  <div class="sud-preview-home sud-prev-bg">
    <img [src]="getImage(preview)" class="sud-prev-btn" />
  </div>
</td>
